* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  position: relative;
  background: url(crop.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333e5a;
  min-height: 100%;
}

header {
  background: #333e5a;
  color: #fff;
  position: relative;
  /*text-align: center;*/
  flex-grow: 0;
  margin-bottom: 2em;
}

h1 {
  font-weight: 300;
  padding-top: 55px;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  background: #ffffff;
  flex-grow: 1;
  background: url(crop.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

button {
  background: #333e5a;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
  bottom: 0;
  left: 0;
  right: 0;
}
button:hover {
  filter: brightness(150%);
}

.room {
  position: relative;
}
.room button {
  position: relative;
  top: 0;
  right: 20px;
}
.room footer {
  position:absolute;
  text-align: right;
  left:0;
  bottom:0;
  right:0;
}
.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}
.navigator {
  text-align: center;
  margin-bottom: 2em;
}

.local-participant {
  text-align: center;
  margin-bottom: 2em;
}
.remote-participants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2em 2em;
}
.participant {
  background: #333e5a;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
}
.participant:last-child {
  margin-right: 0;
}
.participant h3 {
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
}

video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
}
/*bottom footer in Classroom*/
footer {
  position: fixed;
  bottom: 0px;
  background: #ffffff;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  padding: 1em 0;
}
.container {
  /*min-height: 100%;*/
  position: absolute;
  text-align: center;
  bottom: 0px;
}
/*#body {
  padding-bottom: 45%;
}*/

footer a {
  color: #fff;
}

.navigation {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-group button {
  background-color: #333e5a; /* background */
  border: 1px solid #333e5a; /*  border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  filter: brightness(150%);
}

.padding {
  padding-top: 10px;
  text-align: center;
}
.participant button {
  background: white;
  margin-left: 10px;
  margin-right: 10px;
  color: grey;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.videos {
  position: relative;
  padding-top: 10px;
  text-align: center;
}

.report {
  position: relative;
  padding-top: 10px;
  text-align: center;
}

textarea {
  width:300px;
  height:150px;
}

.account {
  position: relative;
  text-align: center;
  right: 10px;
  top: 5px;
}